// Defin fixed named workspaces.
workspace "Media"
workspace "Communication"
workspace "General"

// Window rules to open specific apps on specific workspaces
window-rule {
    match app-id=r#"(?i)^spotify$"#
    match app-id=r#"(?i)^vlc$"#
    open-maximized true
    open-on-workspace "Media"
}
window-rule {
    // Open Signal on "Communication" workspace
    match app-id=r#"(?i)^signal$"#
    // Open Line on "Communication" workspace
    match app-id=r#"(?i)^brave-ophjlpahpchlmihnnnihgmmeilfjmjjc-Default$"#
    // Open Line on "Communication" workspace
    match title="(?i)^WhatsApp - Brave$"
    open-on-workspace "Communication"
}
// Window rules to open specific apps in floating
window-rule {
    match app-id=r#"^brave-nngceckbapebfimnlniiiahkandclblb-Default$"#
    match app-id=r#"(?i)^thunar$"# title="^Rename"
    open-floating true
}
