// Defin fixed named workspaces.
workspace "Media" {
    open-on-output "DP-2"
}
workspace "Communication" {
    open-on-output "DP-3"
}
workspace "General" {
    open-on-output "DP-3"
}
// Window rules to open specific apps maximized
window-rule {
    match app-id=r#"(?i)^spotify$"#
    match app-id=r#"(?i)^vlc$"#
    open-maximized true
}

// Window rules to open specific apps on specific workspaces
window-rule {
    match app-id=r#"(?i)^spotify$"#
    match app-id=r#"(?i)^vlc$"#
    open-on-workspace "Media"
}
window-rule {
    // Open Signal on "Communication" workspace
    match app-id=r#"(?i)^signal$"#
    // Open Line on "Communication" workspace
    match app-id=r#"(?i)^brave-ophjlpahpchlmihnnnihgmmeilfjmjjc-Default$"#
    // Open Thunderbird on "Communication" workspace
    match app-id=r#"(?i)^org.mozilla.Thunderbird$"#
    // Open Line on "Communication" workspace
    match title="(?i)^WhatsApp - Brave$"
    open-on-workspace "Communication"
}

// Window rules to open specific apps in floating
window-rule {
    match app-id=r#"^brave-nngceckbapebfimnlniiiahkandclblb-Default$"#
    match app-id=r#"(?i)^thunar$"# title="^Rename"
    match app-id=r#"(?i)^thunar$"# title="^File Operation Progress"
    open-floating true
}

// @id=dms-floating-windows @name=DMS Floating Windows
window-rule {
    match app-id="^com.danklinux.dms$"
    open-floating true
}
